.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.visibility {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.dark-visibility {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.search {
  width: 100%;
  height: 60px;
  padding-right: 100px;
  margin: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: right;

  @media screen and (max-width: 768px) {
    padding-right: 10px;
  }
}

.seach-button {
  border: none;
  background-color: transparent;
}
.seach-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.search__input {
  width: 40%;
  height: 30px;
  border-radius: 25px;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  padding: 10px 20px;
}

.search__input::placeholder {
  font-size: 13px;
  line-height: 1.17;
}

.information {
  display: flex;
  gap: 30px;
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.base {
  height: 300px;
  width: 500px;
  border-radius: 25px;
  padding: 30px 40px;

  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.base_second {
  display: flex;
  gap: 30px;
  padding-top: 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.additional {
  height: 300px;
  width: 200px;
  border-radius: 25px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.day {
  height: 30px;
  width: 240px;
  border-radius: 25px;
  display: flex;
}

.overview {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.overview_block {
  width: 300px;
  height: 200px;

  border-radius: 25px;
  padding: 20px;
}

.title {
  margin: 30px 0;
}

.icon {
  fill: aliceblue;
  margin: 10px 10px;
}

.country {
  margin-bottom: 10px;
  font-size: 30px;
}

.icon-country {
  fill: aliceblue;
}

.temp {
  font-size: 50px;
  margin-bottom: 20px;
}

.time {
  font-size: 25px;
}
